<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.libo.baseappmodel">

    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application
        android:allowBackup="true"
        android:name=".LiboApplication"
        android:icon="@mipmap/app_ic"
        android:label="@string/app_name"

        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".webviewdemo.MainProcessTestActivity">
        </activity>
        <activity android:name=".webviewdemo.MainProcessTestActivityB"></activity>
        <receiver android:name=".NotificationBroadCastReceiver">
            <intent-filter>
                <action android:name="notification_clicked"> </action>
            </intent-filter>

        </receiver>
    </application>
    <meta-data
        android:name="design_width_in_dp"
        android:value="375"/>
    <meta-data
        android:name="design_height_in_dp"
        android:value="667"/>
</manifest>